html, body{
  margin: 0;
  padding: 0;
  text-align: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
body{
  display: flex;
}

form{
  display: flex;
  margin: 0;
  padding: 0;
  opacity: 0;
  animation: fadeIn .5s forwards;
  animation-delay: .5s;
}
@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

/* 헤더 부분 세팅*********************************/
header{
  position: fixed;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 6vh;
  line-height: 6vh;
  font-size: 25px;
  font-family: "Copperplate Gothic Light";
  font-weight: bold;
  font-variant: small-caps;
  background-color: #add8e6;
  animation: fadeIn .5s steps(60, end);
  z-index: 100;
}
#logo {
  max-width: 150px;
  height: auto;
  cursor: pointer;
}

/* notAPI 부분 세팅*********************************/
#notAPI{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 48vw;
  height: 100vh;
  margin-left: 1vw;
  margin-right: 1vw;
  flex: 1;
}

#input, #output{
  height: 40vh;
  font-size: 1rem;
  width: 47.5vw;
  border: 2px solid black;
}


/* 버튼 세팅*********************************/
.middle{
  position: relative;
  display: flex;
  width: 48vw;
  z-index: 100;
  flex: 1;
  justify-content: space-between;
  vertical-align: middle;
  align-items: center;
}
.btn{
  border: 2px solid black;
  background-color: white;
  font-size: 0.75rem;
  font-weight: bold;
  color: black;
  width: 10vw;
  height: 5vh;
  transition: background .3s, color .3s, border-color .1s;
  z-index: 100;
}
#remove:hover{
  color:white;
  background: #FF4848;
  border-color: #89FF82;
  cursor: pointer;
}
#copy:hover{
  color:white;
  background: #19ce60;
  border-color: #89FF82;
  cursor: pointer;
}
#reset:hover{
  color:white;
  background: #4848FF;
  border-color: #89FF82;
  cursor: pointer;
}
#trans:hover{
  color: white;
  background: black;
  border-color: #89FF82;
  cursor: pointer;
}


/* API 부분 세팅*********************************/
#API{
  display: flex;
  flex-direction: column;
  width: 48vw;
  height: 100vh;
  margin-left: 1vw;
  margin-right: 1vw;
  flex: 1;
}

#res_papago, #res_google{
  height: 41vh;
  font-size: 1rem;
  width: 47.5vw;
  border: 2px solid black;
}

.trans_labels {
  width: 47.5vw;
  border: 2px solid black;
  border-radius: 10px 10px 0 0;
  background: black;
  color: white;
}

.high label{
  border: 2px solid #19ce60;
  background: #19ce60;
}

#res_papago{
  border: 2px solid #19ce60;
}

.low label{
  border: 2px solid #4c8bf5;
  background: #4c8bf5;
}

#res_google{
  border: 2px solid #4c8bf5;
}


/* 공통 세팅*********************************/

.high, .low {
  display: flex;
  flex-direction: column;
  flex: 4;
}
.high{
  margin-top: 7vh;
}

.low{
  justify-content: flex-end;
}

textarea {
  padding:0;
}

#input,.btn,#output,#res_papago, #res_google {
  resize:none;
  font-family: "Ink Free", "-윤고딕320";
}

::placeholder{
  text-align: center;
}

/* 내비게이션 세팅*********************************/
#cb_nav + label {
  top: 0;
}
