/* 헤더 부분 세팅*********************************/
header{
  position: fixed;
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 25px;
  font-weight: bold;
  background-color: #add8e6;
  animation: fadeIn .5s steps(60, end);
  z-index: 100;
}
#go_voca_intro {
  opacity: 1;
  transition: opacity .2s ease-in-out;
}
#go_voca_intro:hover {
  opacity: 0.5;
}
#label_load_voca {
  padding: 5px 20px;
  border-radius: 20px;
  border: 2px solid #4c8bf5;
  background-color: #4c8bf5;
  width: auto;
  color: white;
  font: bold 20px "Ink Free", "-윤고딕320";
  cursor: pointer;
}
#label_load_voca:hover {
  background-color: white;
  border: 2px solid white;
  color: #4c8bf5;
  transition: background .3s ease, color .3s ease, border-color .3s ease;
}
#load_voca {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}


/* 섹션 부분 세팅*********************************/
.sections {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  max-width: 700px;
  margin: 0 auto;
  padding-top: 10vh;
  height: 80vh;
  opacity: 0;
  animation: fadeIn .5s forwards;
  animation-delay: .5s;
  overflow-y: scroll;
}
.sections::-webkit-scrollbar {
  display: none;
}
.voca_list {
  width: 100%;
  height: auto;
}
.sections li {
  list-style: none;
  width: 100%;
  height: 10vh;
  border-right-width: 0;
  border-top-width: 0;
  border-left-width: 0;
  border-bottom-width: 0;
  margin-bottom: 3vh;
}
.sections li button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  border-right-width: 0;
  border-top-width: 0;
  border-left-width: 0;
  border-bottom-width: 0;
  background-color: #add8e6;
  color: white;
  font: bold 20px "Ink Free", "-윤고딕320";
  height: 100%;
  cursor: pointer;
}
.sections li button:hover {
  background-color: white;
  color: #add8e6;
  transition: background .3s ease, color .3s ease;
}
.sections li div {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}
#btn_add_voca {
  margin-top: 2vh;
  opacity: 1;
  transition: opacity .2s ease-in-out;
}
#btn_add_voca:hover {
  opacity: 0.5;
}
